
::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-track {
    margin-top: 1px;
    background: rgb(105, 105, 105);
    border-radius: 5px;
    border: 1px solid black;
    box-sizing: border-box;
}
    
::-webkit-scrollbar-thumb {
    background: rgb(177, 177, 177);
    border-radius: 5px;
    border: 1px solid black;
    box-sizing: border-box;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(141, 141, 141); 
}

::-webkit-scrollbar-corner {
    background-color: rgba(40, 40, 40, 1);
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

html {
    
}

body {
    background-color: rgba(40, 40, 40, 1);
}

body::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px solid black;
    box-sizing: border-box;
    pointer-events: none;
}

.stat > .stat-content::-webkit-scrollbar-track,
.stat > .stat-content::-webkit-scrollbar-thumb {
    border-right: 0px;
}

.stat > .stat-content::-webkit-scrollbar-track:horizontal,
.stat > .stat-content::-webkit-scrollbar-thumb:horizontal {
    border-bottom: 0px;
}

#wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    height: auto;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(40, 40, 40, 1);
}

#titlebar {
    display: flex;

    height: 23px;
    width: 100%;
    background-color: rgb(95, 95, 95);
    color: rgba(255, 255, 255, 1);
    -webkit-app-region: drag;
    align-items: center;
    padding: 0 5px;
}

.left,
.right {
    flex: 1;
    display: flex;
    min-width: -webkit-min-content;
    column-gap: 5px;
}

.right {
    justify-content: flex-end;
}

#title {
    flex: 1;
    text-align: center;
}

#add,
#pin,
#dev,
#reload,
#pause,
#pauseAT,
#lock {
    -webkit-app-region: no-drag;
    margin: 2px;
}

.toggle {
    color:rgb(180, 0, 0);
}

.toggle.on {
    color: rgb(0, 180, 0);
}

#content {
    display: grid;
    grid-auto-columns: 5px; /* GRID_SIZE */
    grid-auto-rows: 5px; /* GRID_SIZE */
    grid-gap: 5px; /* GRID_GAP */
    padding: 10px;
    width: max-content;
    user-select: none;
}

#content > .stat {
    position: relative;
    -webkit-app-region: no-drag;
    border-radius: 5px;
    background-color: rgb(61, 61, 61);
    color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid black;
    box-sizing: border-box;
}

#content > .stat.dragging {
    cursor: grabbing;
}

#content > .stat.padding {
    background-color: rgb(61, 61, 61, 0);
    border: 0px solid black;
    pointer-events: none;
}

#content > .stat > .resizers {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
}

.locked .resizers,
.collapsed .resizers {
    display: none;
    pointer-events: none;
}

.resizers .resizer {
    pointer-events: auto;
}

.resizers .resizer.top,
.resizers .resizer.bottom {
    height: 5px;
    left: 5px;
    right: 5px;
    position: absolute;
}

.resizers .resizer.right,
.resizers .resizer.left {
    width: 5px;
    top: 5px;
    bottom: 5px;
    position: absolute;
}

.resizers .resizer.top {
    cursor: ns-resize;
    top: 0;
}
.resizers .resizer.bottom {
    cursor: ns-resize;
    bottom: 0;
}
.resizers .resizer.right {
    cursor: ew-resize;
    right: 0;
}
.resizers .resizer.left {
    cursor: ew-resize;
    left: 0;
}

.resizers .resizer.top-left,
.resizers .resizer.top-right,
.resizers .resizer.bottom-left,
.resizers .resizer.bottom-right {
    width: 5px;
    height: 5px;
    position: absolute;
}

.resizers .resizer.top-left {
    left: 0;
    top: 0;
    cursor: nwse-resize;
}
.resizers .resizer.top-right {
    right: 0;
    top: 0;
    cursor: nesw-resize;
}
.resizers .resizer.bottom-left {
    left: 0;
    bottom: 0;
    cursor: nesw-resize;
}
.resizers .resizer.bottom-right {
    right: 0;
    bottom: 0;
    cursor: nwse-resize;
}

body.dragging * {
    cursor: grabbing !important;
    user-select: none;
}

body.resizing.direction-top *,
body.resizing.direction-bottom * {
    cursor: ns-resize !important;
    user-select: none;
}

body.resizing.direction-left *,
body.resizing.direction-right * {
    cursor: ew-resize !important;
    user-select: none;
}

body.resizing.direction-bottom-right *,
body.resizing.direction-top-left * {
    cursor: nwse-resize !important;
    user-select: none;
}

body.resizing.direction-top-right *,
body.resizing.direction-bottom-left * {
    cursor: nesw-resize !important;
    user-select: none;
}

body.locked * {
    cursor: default !important;
}

input[type="text"] {
    width: 100%;
    min-width: 150px;
    justify-self: right;
    background-color: rgba(80, 80, 80, 1);
}

.list-container {
    display: grid;
    grid-auto-rows: max-content;
    gap: 5px;
}

.list {
    display: grid;
    grid-auto-rows: max-content;
    gap: 5px;
}

.list .list-item {
    display: grid;
    grid-template-columns: 26px 1fr 26px;
    grid-auto-rows: max-content;
    align-items: center;
}

.add,
.draggable,
.delete {
    display: block;
    background-color: #767676;
    padding: 4px;
    border: 2px solid #585858;
    height: 26px;
    width: 26px;
}

.add {
    width: 100%;
    text-align: center;
}

.add:hover,
.draggable:hover,
.delete:hover {
    background-color: #434343;
}

.dropdown {
    position: relative;
    display: block;
}

.dropdown-content {
    position: absolute;
    left: 0px;
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-rows: max-content;
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
  
.dropdown-entry {
    display: block;
    color: white;
    background-color: #767676;
    padding: 2px;
    text-decoration: none;
    border: 2px solid #585858;
    box-sizing: border-box;
    cursor: default;
}

.dropdown.open > .dropdown-entry,
.dropdown-entry:hover {
    background-color: #434343;
}

.dropdown:not(.open) .dropdown-content {
  display: none;
}

#content > .stat > .stat-title {
    background: rgb(107, 107, 107);
    line-height: 20px;
    text-align: center;
    display: flex;
    height: 20px;
    width: 100%;
    color: rgba(255, 255, 255, 1);
    align-items: center;
    padding: 0px 5px;
    column-gap: 5px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}

#content > .stat > .stat-content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: max-content;
    padding: 5px;
    gap: 5px;
    font-size: 11px;
    line-height: 11px;
    overflow-y: auto;
    user-select: text;
}

#content > .stat > .stat-config {
    position: absolute;
    top: 20px;
    left: 0;
    height: calc(100% - 20px);
    width: 100%;
    display: grid;
    grid-auto-rows: max-content;
    padding: 5px;
    gap: 5px;
    line-height: 18px;
    overflow-y: auto;
    background-color: rgb(20, 20, 20);
}

#content > .stat:not(.configuring) > .stat-config {
    display: none;
}

.map-container {
    display: contents;
}

.key-value {
    display: contents;
    width: max-content;
    text-align: center;
}

.key-value .name {

}

.key-value .value {

}

.config {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: max-content;
    padding: 5px;
    gap: 5px;
    line-height: 18px;
}

#content > .run .stat-content {
    grid-template-columns: repeat(2, minmax(max-content, auto));
    column-gap: 25px;
}

#content > .info .stat-content {
    grid-template-columns: repeat(2, minmax(max-content, auto));
    column-gap: 25px;
}

#content > .maps .stat-content {
    grid-template-columns: repeat(3, minmax(max-content, auto));
}

#content > .voids .stat-content {
    grid-template-columns: repeat(4, minmax(max-content, auto));
}

#content > .bw .stat-content {
    grid-template-columns: repeat(2, minmax(max-content, auto));
}

#content > .c2s .stat-content {
    grid-template-columns: repeat(3, minmax(max-content, auto));
    column-gap: 25px;
}

#content > .world .stat-content {
    grid-auto-rows: 1fr;
}

#content > .world .stat-content #world-grid {
    display: grid;
    padding: 1px;
    gap: 1px;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(10, 1fr);
    background-color: #dadada;
    height: 100%;
}

#content > .world .stat-content #world-grid .world-cell {
    display: inline-flex;
    position: relative;
    color: white;
    align-items: center;
    justify-content: center;
}

#content > .map .stat-content {
    grid-auto-rows: 1fr;
}

#content > .map .stat-content #map-grid {
    display: grid;
    padding: 1px;
    gap: 1px;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(10, 1fr);
    background-color: #dadada;
    height: 100%;
}

#content > .map .stat-content #map-grid .map-cell {
    display: inline-block;
    position: relative;
}

#world-grid .battleCell,
#map-grid .battleCell {
    border: 0px !important;
    border-left: 0px !important;
    border-top: 0px !important;
}

#content > .universe .stat-content {
    grid-auto-rows: 1fr;
}

#content > .universe .stat-content #universe-grid {
    display: grid;
    padding: 1px;
    gap: 1px;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    background-color: black;
    height: 100%;
}

.cell {
    display: inline-flex;
    position: relative;
    background: #464646;
    color: black;
    padding: 2px;
    gap: 2px;
    min-height: 16px;
}

.cell.not-beaten {
    color: white;
}

.cell.beaten {
    color: white;
    background: #164e11;
}

.cell.poison {
    color: black;
    background: rgb(36, 110, 36);
}

.cell.wind {
    color: black;
    background: rgb(50, 62, 107);
}

.cell.ice {
    color: black;
    background: rgb(27, 27, 161);
}

.cell.poison.beaten {
    color: black;
    background: rgb(85, 202, 85);
}

.cell.wind.beaten {
    color: black;
    background: rgb(92, 107, 161);
}

.cell.ice.beaten {
    color: black;
    background: rgb(81, 81, 233);
}

.cell.spire {
    background: #7a7791;
}

.cell.spire.beaten {
    background: #9893b4;
}

.cell.highest {
    background: #be7c00;
}

.cell.obsidian {
    color: white;
    background: black;
}

.cell.liquid {
    background: #c0c000;
    color: black;
    border: none;
}

.cell.beaten.liquid {
    background: #c0c000;
    color: black;
    border: none;
}

.cell.current {
    color: black;
    background: #ffff00;
}

.cell.corruption {
    color: white;
    background: #23063f;
}

.cell.beaten.corruption {
    background: #6e10cc;
}

.cell.healthy {
    color: white;
    background: #553b17;
}

.cell.beaten.healthy {
    background: #795625;
}

.cell.magma {
    color: white;
    background: #7c0000;
}

.cell.beaten.magma {
    background: #be1d11;
}

.cell .mutation {
    display: inline-flex;
    position: relative;
    justify-self: flex-start;
    justify-content: flex-end;

    top: 0;
    bottom: 0;
    width: 50%;
    box-sizing: border-box;
    border: 1px solid black;
    background: black;
}

.cell .mutation .corruption {
    top: 0;
    bottom: 0;
    background: #23063f;
    box-sizing: border-box;
}

.cell.beaten .mutation .corruption {
    background: #6e10cc;
}

.cell .mutation .healthy {
    top: 0;
    bottom: 0;
    background: #553b17;
    box-sizing: border-box;
}

.cell.beaten .mutation .healthy {
    background: #795625;
}

.cell .mutation .magma {
    top: 0;
    bottom: 0;
    background: #7c0000;
    box-sizing: border-box;
    margin-left: auto;
}

.cell.beaten .mutation .magma {
    background: #be1d11;
}

.cell .timer {
    display: inline-flex;
    position: relative;
    justify-self: center;
    align-items: center;
    margin: auto;
    font-size: 8px;
    font-weight: bold;
}

.cell.not-beaten:not(.current) .timer {
    opacity: 0;
}

.cell .timer span {
    font-size: 10px;
}

.cell .glyphs {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-self: flex-end;
    justify-content: flex-end;
    gap: 2px;

    top: 0;
    bottom: 0;
    width: max-content;
    box-sizing: border-box;
    padding: auto;
}

.cell .glyphs,
.cell .glyphs .glyph {
    display: none;
}

.cell.poison .glyphs,
.cell.poison .glyph.poison,
.cell.wind .glyphs,
.cell.wind .glyph.wind,
.cell.ice .glyphs,
.cell.ice .glyph.ice,
.cell.spire .glyphs,
.cell.spire .glyph.spire {
    display: inline-flex;
}

#content > .playerspire .stat-content {
    grid-auto-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: unset;
}

#content > .playerspire .stat-content #player-spire-traps {
    display: grid;
    padding: 1px;
    gap: 1px;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
}

.player-spire-trap {
    font-size: 10px;
    border: 1px solid #dadada;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content > .playerspire .stat-content #player-spire-upgrades {
    display: grid;
    padding: 1px;
    gap: 1px;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
}

.player-spire-upgrade {
    font-size: 10px;
    border: 1px solid #dadada;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content > .playerspire .stat-content #player-spire {
    display: grid;
    padding: 1px;
    gap: 1px;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    background-color: #dadada;
}

#content > .playerspire .stat-content #player-spire .player-spire-cell {
    display: inline-block;
    position: relative;
}

#content > .heirlooms .stat-content {
    grid-template-rows: repeat(3, max-content);
    align-items: flex-start;
    justify-content: center;
    row-gap: 20px;
}

#content > .daily .stat-content {
    grid-template-columns: repeat(7, minmax(auto, 1fr));
    text-align: center;
    line-height: 16px;
}

#content > .heirlooms #heirlooms-equipped,
#content > .heirlooms #heirlooms-carried,
#content > .heirlooms #heirlooms-extra {
    display: grid;
    align-items: center;
    justify-content: center;
}

#content > .heirlooms #heirlooms-equipped {
    grid-template-columns: repeat(3, 1fr);
}

#content > ..heirlooms #heirlooms-carried,
#content > .heirlooms #heirlooms-extra {
    grid-template-columns: repeat(8, 1fr);
}

#content > .heirlooms .heirloom {
    display: inline;
}

#content > .heirlooms .heirloomThing {
    font-size: 25px;
    line-height: 25px;
    width: 25px;
    margin: auto;
}

#content > .run .key-value .name,
#content > .run .key-value .name,
#content > .info .key-value .name {
    text-align: left;
}
#content > .voids .key-value .prefix {
    text-align: left;
    margin-left: 10px;
}

#content > .voids .key-value .suffix {
    text-align: right;
    margin-right: 10px;
}

#content > .voids .key-value .stack,
#content > .voids .key-value .he {
    text-align: right;
}

#content > .run .key-value .value,
#content > .info .key-value .value {
    text-align: right;
}

#maps .key-value[data-value="0"] {
    display: none;
}

#content > .chart > .stat-content {
    grid-auto-rows: 1fr;
}

.chart .ct-label {
    color: white;
}

.chart .ct-grid {
    stroke: rgba(255, 255, 255, 1);
}

.chartist-tooltip {
    position: absolute;
    display: inline-block;
    min-width: 50px;
    opacity: 0;
    padding: 2px;
    background: #F4C63D;
    color: #453D3F;
    text-align: center;
    pointer-events: none;
    z-index: 999;
}

.chartist-tooltip.show-tooltip {
    opacity: 1;
}
  
.ct-area, .ct-line {
    pointer-events: none;
}

.bmaz-container {
    display: grid;
    gap: 10px;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
}

.bmaz-row {
    display: grid;
    gap: 10px;
    row-gap: 0px;
    grid-template-areas:'enabled priority condition'
                        'none none action'
                        'none none completion';
    grid-template-columns: 40px 40px 1fr;
}

.bmaz-variable {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.bmaz-title {
    font-size: 10px;
}

.bmaz-condition {
    grid-area: condition;
    display: grid;
    gap: 5px;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
}

.bmaz-action {
    grid-area: action;
    display: grid;
    gap: 5px;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
}

.bmaz-completion {
    grid-area: completion;
    display: grid;
    gap: 5px;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
}

.bmaz-container input {
    background-color: black;
}

.bmaz-container .bmaz-text {
    width: 100px;
    text-align: right;
}

.bmaz-container .bmaz-number {
    width: 40px;
    text-align: right;
}

.bmaz-container .bmaz-checkbox {
    width: 20px;
    margin: 0;
    margin-top: 3px;
}

.bmaz-container .bmaz-dropdown {
    min-width: 40px;
}

.bmaz-enabled {
    grid-area: enabled;
}

.bmaz-priority {
    grid-area: priority;
}